<!-- BANNER -->
<div id="oc-fullslider" class="banner">
  <div class="owl-carousel owl-theme full-screen">
    <div class="item">
      <img src="assets/images/homeslide.jpg" alt="Slider">
      <div class="overlay-bg"></div>
      <div class="container d-flex align-items-center">
        <div class="wrap-caption">
          <h4 class="caption-supheading">Welcome to Kids</h4>
          <h1 class="caption-heading">Best Kindergarten at California</h1>
          <a href="#" class="btn btn-secondary mt-3">LEARN MORE</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assets/images/homeslide2.jpg" alt="Slider">
      <div class="overlay-bg"></div>
      <div class="container d-flex align-items-center">
        <div class="wrap-caption">
          <h4 class="caption-supheading">Welcome to Kids</h4>
          <h1 class="caption-heading">Best Kindergarten at California</h1>
          <a href="#" class="btn btn-secondary mt-3">LEARN MORE</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assets/images/home2.jpg" alt="Slider">
      <div class="overlay-bg"></div>
      <div class="container d-flex align-items-center">
        <div class="wrap-caption">
          <h4 class="caption-supheading">Welcome to Kids</h4>
          <h1 class="caption-heading">Best Kindergarten at California</h1>
          <a href="#" class="btn btn-secondary mt-3">LEARN MORE</a>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-nav owl-nav"></div>
</div>
