<app-banner></app-banner>
<!-- SHORTCUT -->
<div class="section services">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="row col-0 no-gutters">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 1 -->
              <div class="rs-feature-box-1 bg-primary">
                <i class="fa fa-clock-o"></i>
                <div class="body">
                  <h4>Full Day Programs</h4>
                  <p>Sedut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                  <div class="spacer-10"></div>
                  <a href="#" class="btn">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 2 -->
              <div class="rs-feature-box-1 bg-secondary">
                <i class="fa fa-home"></i>
                <div class="body">
                  <h4>Full Day Programs</h4>
                  <p>Sedut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium</p>
                  <div class="spacer-10"></div>
                  <a href="#" class="btn">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 3 -->
              <div class="rs-feature-box-1 bg-tertiary">
                <i class="fa fa-trophy"></i>
                <div class="body">
                  <h4>Full Day Programs</h4>
                  <p>Sedut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium</p>
                  <div class="spacer-10"></div>
                  <a href="#" class="btn">LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WHY CHOOSE US -->
<div class="section">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <p class="supheading">Why Choose Us</p>
          <h2 class="section-heading mb-5">
            Best Kindergarten
          </h2>
          <p class="">Dolor sit amet, dolor gravida placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod. Dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod. Praesent interdum est gravida vehicula est node maecenas loareet morbi a dosis luctus novum est praesent. Praesent interdum est gravida vehicula est node maecenas loareet morbi a dosis luctus novum est praesent.</p>
          <p class="p-check ">100% education, for your kids, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Dolor sit amet, dolor gravida placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.</p>
          <p class="p-check ">More programs activities, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet.</p>
          <p class="p-check ">More benefit nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
          <div class="spacer-content"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
          <img src="assets/images/teacher_promo.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>

<!-- WELCOME TO KIDS -->
<div class="section bgi-overlay bgi-cover-center" data-background="images/static_bg.jpg">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <!-- Item 1 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-primary">
            <div class="box-fun"><h2>852</h2></div>
            <div class="title">Students</div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-secondary">
            <div class="box-fun"><h2>125</h2></div>
            <div class="title">Teachers</div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-tertiary">
            <div class="box-fun"><h2>32</h2></div>
            <div class="title">Class Rooms</div>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-quaternary">
            <div class="box-fun"><h2>15</h2></div>
            <div class="title">Bus Schools</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OUR TESTIMONIALS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="supheading text-center">Our Testimonials</p>
          <h2 class="section-heading text-center mb-5">
            What parents say
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">
          <div class="text-center text-secondary mb-3"><i class="fa fa-quote-right fa-3x"></i></div>
          <div id="testimonial" class="owl-carousel owl-theme">
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <blockquote>
                    Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <div class="media">
                    <img src="assets/images/team-img1.jpg" alt="" class="rounded-circle">
                  </div>
                  <p class="quote-name">
                    Johnathan Doel <span>Businessman</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <blockquote>
                    Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <div class="media">
                    <img src="assets/images/team-img2.jpg" alt="" class="rounded-circle">
                  </div>
                  <p class="quote-name">
                    Johnathan Doel <span>CEO Buka Kreasi</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
