<div class="container">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-primary">Ajouter Jardin</button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>#</td>
                    <td>
                        <button class="btn btn-warning">Edit</button>
                        <button class="btn btn-danger mx-3">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>