<!-- event -->
<div class="col-sm-12 col-md-6 col-lg-4 mb-5">
  <div class="rs-news-1">
    <div class="media-box">
      <img src="assets/images/event-1.jpg" alt="" class="img-fluid">
    </div>
    <div class="body-box">
      <div class="title">English Day on Carfree day</div>
      <div class="meta-date">March 19, 2016 / 08:00 am - 10:00 am</div>
      <p>We provide high quality design at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores...</p>
      <div class="text-center">
        <a href="page-events-single.html" class="btn btn-primary">JOIN NOW</a>
      </div>
    </div>
  </div>
</div>
