<!-- OUR GALLERY -->
<div class="section">
  <div class="content-wrap">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="supheading text-center">Our Gallery</p>
          <h2 class="section-heading text-center mb-5">
            Moment from kids
          </h2>
        </div>
      </div>

      <div class="row popup-gallery gutter-5">
        <!-- Item 1 -->
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-gallery">
            <a href="assets/images/gallery-1.jpg" title="Gallery #1">
              <img src="assets/images/gallery-1.jpg" alt="" class="img-fluid">
              <div class="project-info">
                <div class="project-icon">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-gallery">
            <a href="assets/images/gallery-2.jpg" title="Gallery #2">
              <img src="assets/images/gallery-2.jpg" alt="" class="img-fluid">
              <div class="project-info">
                <div class="project-icon">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-gallery">
            <a href="assets/images/gallery-3.jpg" title="Gallery #3">
              <img src="assets/images/gallery-3.jpg" alt="" class="img-fluid">
              <div class="project-info">
                <div class="project-icon">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-gallery">
            <a href="assets/images/gallery-4.jpg" title="Gallery #4">
              <img src="assets/images/gallery-4.jpg" alt="" class="img-fluid">
              <div class="project-info">
                <div class="project-icon">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item 5 -->
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-gallery">
            <a href="assets/images/gallery-5.jpg" title="Gallery #5">
              <img src="assets/images/gallery-5.jpg" alt="" class="img-fluid">
              <div class="project-info">
                <div class="project-icon">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item 6 -->
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-gallery">
            <a href="assets/images/gallery-6.jpg" title="Gallery #6">
              <img src="assets/images/gallery-6.jpg" alt="" class="img-fluid">
              <div class="project-info">
                <div class="project-icon">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
