<app-banner></app-banner>
<!-- CONTENT -->
<div class="section ">
  <div class="content-wrap">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-9">
          <div class="single-news">
            <img src="assets/images/event-preview-img.jpg" alt="" class="img-fluid rounded">
            <div class="spacer-30"></div>

            <h2 class="title"> English Day on Carfree day </h2>
            <div class="meta-date">March 19, 2016 / 08:00 am - 10:00 am</div>
            <div class="spacer-30"></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <blockquote>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
            <div class="spacer-50"></div>

            <p class="uk24 text-primary">
              <strong>Research Beyond The Business Plan</strong>
            </p>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <div class="accordion rs-accordion" id="accordionExample">
              <!-- Item 1 -->
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h3 class="title">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do children learn?
                    </button>
                  </h3>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Create and publilsh dynamic websites for desktop, tablet, and mobile devices that meet the latest web standards- without writing code. Design freely using familiar tools and hundreds of web fonts. easily add interactivity, including slide shows, forms, and more.
                  </div>
                </div>
              </div>
              <!-- Item 2 -->
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h3 class="title">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      When can I enroll?
                    </button>
                  </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <!-- Item 3 -->
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h3 class="title">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How successful are children when they graduate from Kids?
                    </button>
                  </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
                    <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
                  </div>
                </div>
              </div>
              <!-- Item 4 -->
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h3 class="title">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      What security measures are in place at Kids?
                    </button>
                  </h3>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
                    <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end accordion -->

          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="events-widget">
            <div class="widget-title">Venue</div>
            <dl>
              <dt>99 S.t Jomblo Park Pekanbaru 28292. Indonesia</dt>
              <dt>Phone:</dt>
              <dd>074574217447</dd>
              <dt>Website:</dt>
              <dd><a href="#">http://www.website.com</a></dd>
            </dl>

            <div class="widget-title">Detail</div>
            <dl>
              <dt>Start:</dt>
              <dd>July 16 @ 11:00 am</dd>
              <dt>End:</dt>
              <dd>July 29 @ 4:00 pm</dd>
            </dl>

            <div class="widget-title">Organizer</div>
            <dl>
              <dt>Max Organizer</dt>
              <dt>Phone:</dt>
              <dd>074574217447</dd>
              <dt>Website:</dt>
              <dd><a href="#">http://www.website.com</a></dd>
            </dl>
            <div class="spacer-30"></div>
            <a href="#" class="btn btn-primary btn-block">JOIN</a>
            <div class="spacer-30"></div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
