<!-- OUR EVENTS -->
<div class="section bgi-cover-center" data-background="assets/images/event-bg.png">
  <div class="content-wrap">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="supheading text-center">Our Events</p>
          <h2 class="section-heading text-center mb-5">
            Don't miss our event
          </h2>
        </div>
      </div>

      <div class="row mt-4">

        <!-- Item 1 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src="assets/images/event-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">English Day on Carfree day</div>
              <div class="meta-date">March 19, 2016 / 08:00 am - 10:00 am</div>
              <p>We provide high quality design at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores...</p>
              <div class="text-center">
                <a href="page-events-single.html" class="btn btn-primary">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src="assets/images/event-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Play & Study with Mrs. Smith</div>
              <div class="meta-date">March 19, 2016 / 08:00 am - 10:00 am</div>
              <p>We provide high quality design at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores...</p>
              <div class="text-center">
                <a href="page-events-single.html" class="btn btn-primary">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src="assets/images/event-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Drawing at City Park</div>
              <div class="meta-date">March 19, 2016 / 08:00 am - 10:00 am</div>
              <p>We provide high quality design at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores...</p>
              <div class="text-center">
                <a href="page-events-single.html" class="btn btn-primary">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
