<!-- POPULAR CLASSES -->
<div class="section">
    <div class="content-wrap">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p class="supheading text-center">Our Programs</p>
                    <h2 class="section-heading text-center mb-5">
                        Popular Classes
                    </h2>
                </div>
            </div>

            <div class="row mt-4">

                <!-- Item 1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="rs-class-box mb-5">
                        <div class="media-box">
                            <img src="assets/images/classes-1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="body-box">
                            <div class="class-name">
                                <div class="title">Drawing Classes</div>
                                <div class="price">$20</div>
                            </div>
                            <div class="open-class">Open Class : <span>08:00 am - 10:00 am</span></div>
                            <p>We provide high quality design at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores...</p>
                            <div class="detail">
                                <div class="age col">Age 2-5 years</div>
                                <div class="size col">Class Size 20</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="rs-class-box mb-5">
                        <div class="media-box">
                            <img src="assets/images/classes-2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="body-box">
                            <div class="class-name">
                                <div class="title">Gaming Classes</div>
                                <div class="price">$20</div>
                            </div>
                            <div class="open-class">Open Class : <span>08:00 am - 10:00 am</span></div>
                            <p>We provide high quality design at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores...</p>
                            <div class="detail">
                                <div class="age col">Age 2-5 years</div>
                                <div class="size col">Class Size 20</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="rs-class-box mb-5">
                        <div class="media-box">
                            <img src="assets/images/classes-3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="body-box">
                            <div class="class-name">
                                <div class="title">Learning Classes</div>
                                <div class="price">$20</div>
                            </div>
                            <div class="open-class">Open Class : <span>08:00 am - 10:00 am</span></div>
                            <p>We provide high quality design at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores...</p>
                            <div class="detail">
                                <div class="age col">Age 2-5 years</div>
                                <div class="size col">Class Size 20</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">SEE MORE CLASSES</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>